.App{
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right,#ddd6f3,#faaca8)

}

.App .container{
  height:15rem;
  width:10rem;
  display:flex;
}